{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        {% for country in countries %}
            <div class="col-sm-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ country.name }}</h5>
                        <p class="card-text">
                            <ul>
                                <li>Adresse: {{ country.adresse }}</li>
                                <li>Email: {{ country.email }}</li>
                            </ul>
                        </p>
                        <a href="{{ path('country_beer', {id: country.id}) }}" class="btn btn-primary">Voir la page pays</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
