{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        {% for beer in beers %}
            {% include 'partials/beer-card.html.twig' with {'beer': beer, picture: true} %}
        {% endfor %}
    </div>
{% endblock %}
